# Distance Matrix Report
### Team Argonne

In [79]:
import pandas as pd
import numpy as np
from scipy.spatial import distance_matrix

## Abstract
Short summary about the data and what it tells you about your project.

## Data input
In this section include code that reads in the csv file

In [90]:
df = pd.read_csv('2022_Project_distance_Matrix.csv')
df.head()

,ARFL,Argonne,Boeing,Delta Dental,Ford,Hope Village,Kellogg's,Neogen,Old Nation,Qside
0,7,4,9,8,3,0,6,2,5,1
1,0,1,3,2,4,8,6,5,7,9
2,3,2,1,6,0,8,5,4,7,9
3,8,7,3,9,4,5,0,6,1,2
4,0,2,1,8,7,3,9,6,4,5

## Data Cleaning
In this section provide code for converting the raw data into clean and usable data structures (if needed)

In [91]:
dis = pd.DataFrame(distance_matrix(df.T, df.T), index=df.T.index, columns=df.T.index)
dis

,ARFL,Argonne,Boeing,Delta Dental,Ford,Hope Village,Kellogg's,Neogen,Old Nation,Qside
ARFL,0.000000,17.691806,20.591260,23.706539,27.018512,31.764760,29.512709,20.074860,27.820855,29.816103
Argonne,17.691806,0.000000,18.303005,23.895606,24.758837,29.631065,29.051678,20.928450,27.110883,29.799329
Boeing,20.591260,18.303005,0.000000,29.154759,26.832816,36.565011,29.883106,21.977261,32.155870,35.199432
Delta Dental,23.706539,23.895606,29.154759,0.000000,25.806976,26.925824,27.766887,24.879711,26.907248,27.694765
Ford,27.018512,24.758837,26.832816,25.806976,0.000000,33.481338,28.618176,23.895606,34.263683,34.655447
Hope Village,31.764760,29.631065,36.565011,26.925824,33.481338,0.000000,26.832816,26.645825,15.394804,14.071247
Kellogg's,29.512709,29.051678,29.883106,27.766887,28.618176,26.832816,0.000000,24.248711,27.147744,23.916521
Neogen,20.074860,20.928450,21.977261,24.879711,23.895606,26.645825,24.248711,0.000000,23.259407,25.337719
Old Nation,27.820855,27.110883,32.155870,26.907248,34.263683,15.394804,27.147744,23.259407,0.000000,15.459625
Qside,29.816103,29.799329,35.199432,27.694765,34.655447,14.071247,23.916521,25.337719,15.459625,0.000000

In [92]:
review = {}

for col in df.columns:
    team = pd.DataFrame(df[col])
    for idx in team[team[col] == 0].index:
        try:
            review[col].append(df.iloc[int(idx)].Argonne)
        except KeyError:
            review[col] = []
            review[col].append(df.iloc[int(idx)].Argonne)
review

{'ARFL': [1, 2, 4, 5, 3],
 'Argonne': [0, 0, 0],
 'Boeing': [2, 1, 4, 5, 1],
 'Delta Dental': [7, 8, 7],
 'Ford': [2, 2, 1, 4, 4, 2],
 'Hope Village': [4, 3, 8, 7, 5],
 "Kellogg's": [7, 4, 6],
 'Neogen': [3, 2, 7],
 'Old Nation': [9, 4, 3, 5],
 'Qside': [4, 3]}

In [93]:
avg = {}

for k,v in review.items():
    avg[k] = sum(v)/len(v)
    
avg

{'ARFL': 3.0,
 'Argonne': 0.0,
 'Boeing': 2.6,
 'Delta Dental': 7.333333333333333,
 'Ford': 2.5,
 'Hope Village': 5.4,
 "Kellogg's": 5.666666666666667,
 'Neogen': 4.0,
 'Old Nation': 5.25,
 'Qside': 3.5}

## Data Modeling

This section that builds a model.  This doesn't have to be all that advanced. You should probably start with some simple statistical models such as an average distance matrix.

## Data Visualization

This section make some graphs visualizing your results.  A distance matrix and/or network graph may be cool.  Think though the best way to show what you learned.

## Conclusion

This should be similar to the abstract but with more details. What can you conclude about your project from this data?